/*
* Montserrat
*/

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: "montserrat";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src:
    url("/fonts/montserrat.woff2") format("woff2"),
    url("/fonts/montserrat.woff") format("woff");
}
@font-face {
  font-family: "montserrat";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src:
    url("/fonts/montserrat.woff2") format("woff2"),
    url("/fonts/montserrat.woff") format("woff");
}
@font-face {
  font-family: "montserrat";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src:
    url("/fonts/montserrat.woff2") format("woff2"),
    url("/fonts/montserrat.woff") format("woff");
}
@font-face {
  font-family: "montserrat";
  font-weight: bold;
  font-display: swap;
  font-style: normal;
  src:
    url("/fonts/montserrat-700.woff2") format("woff2"),
    url("/fonts/montserrat-700.woff") format("woff");
}

/*
* SamsungOne
*/

@font-face {
  font-family: "SamsungOne";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src:
    url("/fonts/SamsungOne-400.woff2") format("woff2"),
    url("/fonts/SamsungOne-400.woff") format("woff"),
    url("/fonts/SamsungOne-400.ttf") format("truetype"),
    url("/fonts/SamsungOne-400.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "SamsungOne";
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  src:
    url("/fonts/SamsungOne-700.woff2") format("woff2"),
    url("/fonts/SamsungOne-700.woff") format("woff"),
    url("/fonts/SamsungOne-700.ttf") format("truetype"),
    url("/fonts/SamsungOne-700.eot?#iefix") format("embedded-opentype");
}

/*
* Basique Bold
*/

@font-face {
  font-family: "Basique";
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  src:
    url("/fonts/BasiqueBold.woff2") format("woff2"),
    url("/fonts/BasiqueBold.woff") format("woff"),
    url("/fonts/BasiqueBold.eot?#iefix") format("embedded-opentype");
}

/*
* HolidayFree
*/

@font-face {
  font-family: "Holiday";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src:
    url("/fonts/HolidayFree.woff2") format("woff2"),
    url("/fonts/HolidayFree.woff") format("woff"),
    url("/fonts/HolidayFree.eot?#iefix") format("embedded-opentype");
}

/*
* Gotham
*/

@font-face {
  font-family: "Gotham SSm A 300";
  src: url("/fonts/gotham_ssm_a_300.woff") format("woff");
}
@font-face {
  font-family: "Gotham SSm B 300";
  src: url("/fonts/gotham_ssm_b_300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham SSm A 700";
  src: url("/fonts/gotham_ssm_a_700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham SSm B 700";
  src: url("/fonts/gotham_ssm_b_700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*
* Averta
*/

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
