@use "../basics/variables" as *;

/*
* Section
*/

.c-section {
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $white;

  &.xs {
    min-height: 100px;
  }
  &.sm {
    min-height: 210px;
  }
  &.md {
    min-height: 320px;
  }
  &.lg {
    min-height: 430px;
  }
  &.xl {
    min-height: 640px;
  }
  &.xxl {
    min-height: 880px;
  }
}
.my-app-dark .c-section {
  border: 1px solid rgba(255, 255, 255, 0.08);
  background-color: oklch(0.21 0.006 285.885);
}

/*
* Box
*/

.c-box {
  border-radius: 15px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.08);

  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}
.my-app-dark .c-box {
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.08);
}

/*
* Block
*/

.c-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 150px;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  position: relative;

  &.no-flex {
    display: block;
    flex-direction: none;
  }

  // Items
  .c-block-text {
    background: transparent;
    border-radius: 15px;
    padding: 30px;
    margin: 30px;
    color: $black;

    h3 {
      color: $black;
    }
  }
  .c-block-dimmer {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }
  .c-block-content {
    position: relative;
    z-index: 3;
  }

  // Position Content
  &-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &-top-left {
    position: absolute;
    top: 0;
    left: 0;
  }
  &-top-right {
    position: absolute !important;
    top: 0;
    right: 0;
  }

  // Center Block
  &-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: absolute;
    z-index: 3;
    color: $white;
  }
}
.my-app-dark {
  .c-block {
    background-color: rgba(255, 255, 255, 0.08);
  }
}

.d-block {
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  padding: 15px;
  position: relative;

  .content {
    display: flex;
    align-items: center;
    min-height: 350px;

    h4.lg {
      font-size: 40px;
    }
    h4.dimmed {
      opacity: 0.6;
    }
    button {
      margin-top: 15px;
    }
  }

  &.fixedHeight {
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.light {
    background-color: rgba(0, 0, 0, 0.03);
  }
  // Variations
  &.c-yellow {
    background-color: $main_background;
  }
}
.my-app-dark {
  .d-block {
    background-color: rgba(255, 255, 255, 0.08);

    &.light {
      background-color: rgba(255, 255, 255, 0.03);
    }
  }
}

.d-box {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 15px;
  min-height: 350px;

  .d-box-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    border-radius: 15px;
    position: relative;

    &.gradient-top {
      background: rgb(0, 0, 0);
      background: linear-gradient(
        167deg,
        rgba(0, 0, 0, 1) 12%,
        rgba(0, 0, 0, 0) 100%
      );
    }
    &.gradient-bottom {
      background: rgb(0, 0, 0);
      background: linear-gradient(
        10deg,
        rgba(0, 0, 0, 1) 12%,
        rgba(0, 0, 0, 0) 60%
      );
    }

    .top-left {
      width: 50%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
    }
    .top-right {
      width: 50%;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 15px;
    }
    .bottom-left {
      width: 50%;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 15px;
    }
    .bottom-right {
      width: 50%;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: 15px;
    }
  }
  &.xl {
    min-height: 500px;

    .c-box-inner {
      height: 500px;
    }
  }
  &.sm {
    min-height: 100px;

    .c-box-inner {
      height: 100px;
    }
  }
  &.noPadding {
    padding: 0;
  }
}
.my-app-dark {
  .d-box {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

/*
* Blocks
*/

.c-blocks {
  margin-bottom: $sectionMargin;

  .c-block-item {
    padding: 30px;
  }
  .content {
    width: 100%;
    aspect-ratio: 4/3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $borderRadius;

    .c-text {
      width: 450px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

/*
* Block Sizing
*/

.size {
  &-auto {
    width: 100%;
    min-height: none;
    aspect-ratio: 16/9;
  }

  // Sizing
  &-xxs {
    min-height: 5px;
  }
  &-xxs-1 {
    min-height: 10px;
  }
  &-xxs-2 {
    min-height: 20px;
  }
  &-xxs-3 {
    min-height: 30px;
  }
  &-xxs-4 {
    min-height: 40px;
  }
  &-xxs-5 {
    min-height: 50px;
  }
  &-xxs-7 {
    min-height: 60px;
  }
  &-xxs-8 {
    min-height: 70px;
  }
  &-xxs-8 {
    min-height: 80px;
  }
  &-xxs-9 {
    min-height: 90px;
  }
  &-xs {
    min-height: 100px;
  }
  &-xs-1 {
    min-height: 110px;
  }
  &-xs-2 {
    min-height: 120px;
  }
  &-xs-3 {
    min-height: 130px;
  }
  &-xs-4 {
    min-height: 140px;
  }
  &-xs-5 {
    min-height: 150px;
  }
  &-xs-6 {
    min-height: 160px;
  }
  &-xs-7 {
    min-height: 170px;
  }
  &-xs-8 {
    min-height: 180px;
  }
  &-xs-9 {
    min-height: 190px;
  }
  &-s {
    min-height: 200px;
  }
  &-s-1 {
    min-height: 210px;
  }
  &-s-2 {
    min-height: 220px;
  }
  &-s-3 {
    min-height: 230px;
  }
  &-s-4 {
    min-height: 240px;
  }
  &-s-5 {
    min-height: 250px;
  }
  &-s-6 {
    min-height: 260px;
  }
  &-s-7 {
    min-height: 270px;
  }
  &-s-8 {
    min-height: 280px;
  }
  &-s-9 {
    min-height: 290px;
  }
  &-m {
    min-height: 300px;
  }
  &-m-1 {
    min-height: 310px;
  }
  &-m-2 {
    min-height: 320px;
  }
  &-m-3 {
    min-height: 330px;
  }
  &-m-4 {
    min-height: 340px;
  }
  &-m-5,
  &-md {
    min-height: 350px;
  }
  &-m-6 {
    min-height: 360px;
  }
  &-m-7 {
    min-height: 370px;
  }
  &-m-8 {
    min-height: 380px;
  }
  &-m-9 {
    min-height: 390px;
  }
  &-l {
    min-height: 400px;
  }
  &-l-1 {
    min-height: 410px;
  }
  &-l-2 {
    min-height: 420px;
  }
  &-l-3 {
    min-height: 430px;
  }
  &-l-4 {
    min-height: 440px;
  }
  &-l-5,
  &-lg {
    min-height: 450px;
  }
  &-l-6 {
    min-height: 460px;
  }
  &-l-7 {
    min-height: 470px;
  }
  &-l-8 {
    min-height: 480px;
  }
  &-l-9 {
    min-height: 490px;
  }
  &-xl {
    min-height: 500px;
  }
  &-xl-1 {
    min-height: 510px;
  }
  &-xl-2 {
    min-height: 520px;
  }
  &-xl-3 {
    min-height: 530px;
  }
  &-xl-4 {
    min-height: 540px;
  }
  &-xl-5 {
    min-height: 550px;
  }
  &-xl-6 {
    min-height: 560px;
  }
  &-xl-7 {
    min-height: 570px;
  }
  &-xl-8 {
    min-height: 580px;
  }
  &-xl-9 {
    min-height: 590px;
  }
  &-2xl {
    min-height: 600px;
  }
  &-2xl-1 {
    min-height: 610px;
  }
  &-2xl-2 {
    min-height: 620px;
  }
  &-3xl {
    min-height: 700px;
  }
  &-4xl {
    min-height: 800px;
  }
}

/*
* Image Block
*/

.image {
  display: block;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.08);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &.block {
    width: 100%;
    min-height: 350px;

    &.xs {
      min-height: 250px;
    }
    &.md {
      min-height: 350px;
    }
    &.mdl {
      min-height: 450px;
    }
    &.lg {
      min-height: 650px;
    }
    &.xl {
      min-height: 850px;
    }
  }
}
.c-image {
  background-color: rgba(0, 0, 0, 0.08);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.c-image-fit {
  width: 100%;
  height: auto;
  min-height: auto;
  aspect-ratio: 4/4;
}
.c-no-image {
  display: flex;
  align-items: center;
  justify-content: center;

  h5 {
    opacity: 0.3;
  }
}

@media screen and (max-width: 768px) {
  .c-block {
    .size {
      &-m,
      &-l,
      &-xl {
        min-height: 300px;
      }
    }

    .c-block-text {
      margin: 0;

      h3 {
        font-size: 20px;
      }
    }
  }

  .c-gallery {
    .c-gallery-item {
      .size {
        &-m,
        &-l,
        &-xl {
          min-height: 150px;
        }
      }
    }
  }
}

.customText {
  margin: 50px 0;
  width: 100%;

  .row {
    z-index: 2;
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 550px;

    .image {
      width: 400px;
      height: 500px;
    }

    h2,
    p {
      width: 100%;
    }
    h2 {
      margin-bottom: 15px;
    }
  }

  .back {
    display: block;
    width: 100%;
    height: 700px;
    position: absolute;
    left: 0;
    z-index: -1;
  }

  &.hasBackground {
    .box {
      h2,
      p {
        color: white;
      }
    }
  }
}

.c-title-area {
  p {
    width: 600px;
    max-width: 100%;
    line-height: 20px;
  }

  .float-right {
    padding-top: 40px;

    button {
      float: right;
    }
  }
}

div.d-block.c-addressBlock {
  margin-bottom: 15px;
  padding-right: 60px;
  min-height: 60px;
}

@media screen and (max-width: 768px) {
  .d-block {
    padding: 15px;

    .content {
      min-height: 250px;
    }

    &.fixedHeight {
      min-height: 0;
    }
  }

  .c-title-area {
    p.mb30 {
      margin-bottom: 10px;
    }

    .float-right {
      padding-top: 10px;

      button {
        float: none;
        margin-bottom: 30px;
      }
    }
  }
}

// iFrame & Embed
.c-iframe,
.c-embed {
  width: 100%;
  min-height: 0;
  aspect-ratio: 16/9;
  border-radius: 15px;
  position: relative;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

@media screen and (max-width: 768px) {
  .c-block.collectionBlock {
    min-height: 200px;
  }
}
