@use "../basics/variables" as *;

/*
* Global
*/

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/*
* Pages
*/

.c-page {
  margin: 0;
  min-height: 600px;
  // padding: 30px 0;
}

.c-default-template.detailed {
  .c-page {
    margin-top: 0;
    padding: 0;

    .c-banner-header-sub {
      margin-bottom: 50px;
    }

    // Mobile & Tablet
    @media screen and (max-width: 768px) {
      .container.content {
        padding: 0 50px;
      }
    }
  }
}

.fullPage {
  background: radial-gradient(circle, $main_background, $black);

  .logo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .socials {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    a {
      color: $white;
      transition: all 0.4s ease;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
      &:hover {
        opacity: 0.8;
      }
    }

    i {
      font-size: 20px;
    }
  }
  .backPattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.02) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
    background-size: 20px 20px;
    pointer-events: none;
    z-index: 1;
  }

  &.comingSoonPage {
    background: radial-gradient(circle, rgb(30, 64, 175), $black);
  }
}

/*
* Container
*/

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  &.sm {
    max-width: 700px;
  }
  &.md {
    max-width: 960px;
  }

  &.blog {
    max-width: 850px;
    padding: 30px 0;

    .c-description {
      max-width: 630px;
      margin: 0 auto;
    }
    .c-image {
      width: 100%;
      margin: 15px 0;

      img {
        border-radius: 15px;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .container {
    padding: 0 10px;
  }
}
// Mobile & Tablet
@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

// Layout Views
.c-contentView {
  padding: 30px 0;
}

// Error Pages
.c-errorPage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: $black;
  color: $white;
  width: 100%;
  height: 100%;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  .c-logo {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 30px;
      border-radius: 0;
    }
  }

  h2,
  h4,
  p {
    color: $white;
  }

  .desc {
    width: 350px;
    max-width: 100%;
    line-height: 21px;
    margin: 0 auto;
  }

  .content {
    position: relative;
    z-index: 3;
  }
  .backDrop {
    position: absolute;
    z-index: 1;
    font-size: 1600px;
    opacity: 1;
  }

  .c-error-content {
    display: block;
    height: auto;
    width: 400px;
    max-width: 100%;
    text-align: left;
    position: fixed;
    bottom: 30px;
    right: 20px;
    border: 1px solid var(--ad-background1);
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;

    p {
      opacity: 0.7;
    }
    pre {
      opacity: 0.7;
      padding-bottom: 15px;
      width: 100%;
      font-size: 12px;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }

    &.active {
      opacity: 1;
      bottom: 51px;
      visibility: visible;
    }
  }
}

// Mobile & Tablet
@media screen and (max-width: 768px) {
  .c-errorPage {
    h2 {
      font-size: 50px;
    }
    .backDrop {
      display: none;
    }
    .content {
      width: 100%;

      pre {
        width: 100%;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
      }
    }
  }
}

/*
* Transitions
*/

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
