@use "../basics/variables" as *;

/*
* List
*/

ul {
  padding: 0;

  li {
    list-style: none;
  }
}

.c-list-nav,
.c-list {
  display: inline-block;
  width: 100%;
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 5px;
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
    &.c-divider {
      background: rgba(0, 0, 0, 0.1);
      height: 1px;
      margin: 0;
      margin-bottom: 5px;
    }

    a {
      font-family: $font3;
      font-weight: bold;
      text-decoration: none;
      color: $black;
    }

    .d-box {
      min-height: 100px;
      margin-bottom: 15px;
    }

    .c-list-item {
      display: flex;
      align-items: center;
      width: 100%;
      color: $black;
      background: transparent;
      border-radius: 8px;
      padding: 10px;
      position: relative;
      cursor: pointer;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;

      .c-list-item-span {
        display: block;
        width: 2px;
        height: calc(100% - 5px);
        transform: translateX(-50%);
        position: absolute;
        background: $black;
        left: -15px;
        border-radius: 250px;
        opacity: 0;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }

      i {
        font-size: 16px;
        margin-right: 15px;
        opacity: 0.8;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.08);

        i {
          opacity: 1;
        }
      }
      &.active {
        .c-list-item-span {
          opacity: 1;
        }
      }
    }
  }

  &.sm-icon {
    li {
      i {
        font-size: 12px;
        margin-right: 8px;
      }
    }
  }
  &-scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
.c-list-nav {
  li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
    &.c-divider {
      position: relative;
      width: 1px;
      height: 20px;
      margin: 0;
      margin-right: 10px;
      bottom: -5px;
    }

    .c-list-item {
      width: auto;
      display: inline-flex;

      .c-list-item-span {
        width: 4px;
        height: 4px;
        left: 50%;
        bottom: -10px;
        transform: translateY(-50%);
      }
    }
  }
}
.my-app-dark {
  .c-list-nav,
  .c-list {
    li {
      .c-list-item {
        color: $white;

        .c-list-item-span {
          background: $white;
        }

        &:hover {
          background: rgba(255, 255, 255, 0.08);
        }
      }

      a {
        color: $white;
      }

      &.c-divider {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.c-list-items {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.03);
  background: rgba(0, 0, 0, 0.03);
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 0;
  cursor: pointer;
  min-height: 50px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

  .image {
    background-color: rgba(0, 0, 0, 0.08);
    background-position: center center;
    background-size: cover;
    height: 50px;
    min-height: 50px;
    width: 50px;
    border-radius: 8px;

    &.sm {
      height: 40px;
      min-height: 40px;
      width: 40px;
    }
    &.xs {
      height: 30px;
      min-height: 30px;
      width: 30px;
    }
    &.round {
      border-radius: 250px;
    }
    &.empty {
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        opacity: 0.4;
      }
    }
  }
  .content {
    min-height: 0;
  }

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: rgba(0, 0, 0, 0.06);
  }
}
.my-app-dark .c-list-items {
  border: 1px solid rgba(255, 255, 255, 0.03);
  background: rgba(255, 255, 255, 0.03);

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.06);
  }
}

/*
* Radio List
*/

.c-radio {
  display: inline-block;
  width: 100%;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

    &:last-child {
      margin-bottom: 0;
    }

    i.pi-circle,
    i.pi-circle-fill {
      position: absolute;
      left: 25px;
    }

    .d-block {
      padding-left: 60px;
      border: 2px solid transparent;
      cursor: pointer;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;

      .col-xs-6 {
        display: flex;
        align-items: center;

        &.right {
          justify-content: end;
          text-align: right;
        }
      }

      .c-logo {
        height: 30px;
        border-radius: 6px;
      }

      &.active {
        border: 2px solid rgba(0, 0, 0, 0.2);
      }
      &:hover {
        border: 2px solid rgba(0, 0, 0, 0.08);
      }
    }
  }
}

/*
* Breadcrumb
*/

.c-breadcrumb {
  li {
    display: inline-flex;
    align-items: center;
    background: transparent;
    padding: 5px 10px;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
    font-family: $font3;
    color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

    &:hover {
      color: $black;
      background: rgba(0, 0, 0, 0.03);
    }

    &.c-breadcrumb-arrow {
      padding: 5px 0;

      i {
        font-size: 10px;
      }
      &:hover {
        color: rgba(0, 0, 0, 0.5);
        background: transparent;
        cursor: auto;
      }
    }
  }
}
.my-app-dark {
  .c-breadcrumb {
    li {
      color: rgba(255, 255, 255, 0.5);

      &:hover {
        color: $white;
        background: rgba(255, 255, 255, 0.03);
      }

      &.c-breadcrumb-arrow {
        &:hover {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}

/*
* Toolbar
*/

div.p-toolbar {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

/*
* Collections
*/

.collectionBlock {
  h1 {
    text-transform: capitalize;
  }
}
.collection {
  .content {
    color: $white;
    transition: all 0.4s ease;

    h2 {
      text-transform: capitalize;
      padding: 0 30px;
      width: 100%;
      text-align: center;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &.xxs,
  &.sm {
    .content {
      color: rgba(0, 0, 0, 0.8);

      h2 {
        font-size: 18px;
      }
    }
  }
  &.xxs {
    width: 300px;
    min-width: 300px;
    height: 100px;
  }
  &.sm {
    width: 300px;
    min-width: 300px;
    height: 150px;
  }
}
.collectionFilters {
  width: 100%;
  display: block;

  h4 {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-transform: capitalize;
    border-radius: 8px;
    transition: all 0.4s ease;

    .itemCounts {
      position: absolute;
      right: 0;
    }

    &:hover {
      background-color: var(--ad-background03);
    }
    &.active {
      background-color: var(--ad-background08);
    }

    &.level_2 {
      padding-left: 20px;
    }
    &.level_3 {
      padding-left: 35px;
    }
  }
}
