@use "../basics/variables" as *;

$height: 75px;

.c-header-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.c-header {
  background: var(--ad-background03);
  border-bottom: 1px solid var(--ad-background08);
  height: $height;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);

  &-left,
  &-right {
    position: absolute;
    top: 0;
    height: $height;
    z-index: 2;
    display: flex;
    align-items: center;

    button {
      display: inline-flex;
    }
  }
  &-left {
    left: 0;
  }
  &-center {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1;
    height: $height;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  &-right {
    right: 0;
    justify-content: end;
  }
}

.c-banner-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: $black;
  color: $white;
  text-align: center;
  height: 35px;
  max-height: 35px;
  font-family: $font1;
  font-weight: bold;
  font-size: 12px;
  white-space: nowrap;
  padding: 0;
  overflow: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  .c-banner-text {
    height: 35px;
    width: auto;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.c-header-menu {
  position: sticky;
  top: 75px;
  left: 0;
  z-index: 80;
  width: 100%;
  min-height: 0;

  &-content {
    position: absolute;
    z-index: 3;
    display: flex;
    background: var(--p-drawer-background);
    border-bottom: 1px solid var(--ad-background03);
    top: -20px;
    left: 0;
    min-height: 100px;
    width: 100%;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition:
      opacity 0.4s ease,
      top 0.4s ease;
    transition:
      opacity 0.4s ease,
      top 0.4s ease;
  }
  &-dimmer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(10px);
    overflow: hidden;
    -webkit-transition: background 0.4s ease;
    transition: background 0.4s ease;
  }
  &.active {
    .c-header-menu-content {
      top: 0;
      opacity: 1;
      visibility: visible;
    }
    .c-header-menu-dimmer {
      opacity: 1;
      visibility: visible;
      min-height: 100%;
    }

    &.hide {
      .c-header-menu-content {
        top: -20px;
        opacity: 0;
        visibility: hidden;
      }
      .c-header-menu-dimmer {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &-item {
    background-color: var(--ad-background08);
    min-height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

    .dimmer {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background: var(--ad-background01);
      border-radius: 15px;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;

      &:hover {
        background: var(--ad-background03);
      }
    }
    h2 {
      text-transform: capitalize;
    }
    h3 {
      text-transform: capitalize;
    }
    h4 {
      padding: 0 30px;
      width: 100%;
      text-align: center;
      text-transform: capitalize;
    }

    &.hasImage {
      .dimmer {
        color: $white;
      }
    }
    &.half {
      min-height: 150px;
    }
    &:hover {
      background-color: var(--ad-background03);
    }
    &.links {
      display: inline-block;
      background: transparent;
      cursor: initial;

      &:hover {
        background: transparent;
      }
    }
  }
}
.my-app-dark {
  .c-header-menu {
    &-content {
      background: var(--p-drawer-background);
      border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    }
    &-dimmer {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.c-header-product {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 100;
  width: auto;
  padding: 10px;
  border-radius: 250px;
  background: var(--ad-background08);
  transform: translateX(-50%);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);

  .c-logo {
    display: inline-flex;
    margin-left: 15px;
  }
  .c-list-nav {
    width: auto;
    margin-right: 40px;
    margin-left: 40px;

    .c-list-item {
      border-radius: 250px;
    }
  }
  .ctaBtns {
    .ctaButton {
      border-radius: 250px;
      margin-left: 10px;
      min-width: 70px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &-menu {
    top: 0;
    padding: 0;
    position: fixed;
    z-index: 10;

    .menuBtn {
      position: fixed;
      z-index: 100;
      top: 30px;
      right: 30px;

      .p-button {
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
      }
    }
    .menuArea {
      position: fixed;
      z-index: 11;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      padding: 0;
      background: rgba(0, 0, 0, 0.5);
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.4s ease,
        height 0.4s ease;

      ul {
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease;
        margin-bottom: 0;
        display: none;

        li {
          .c-list-item-span {
            display: none;
          }
          .c-list-item {
            &.active {
              background: rgba(255, 255, 255, 0.08);
            }
          }
        }
      }
      .ctaBtns {
        display: none;
      }

      &.active {
        padding: 100px 50px 50px 50px;
        height: 100%;
        opacity: 1;
        visibility: visible;

        ul {
          display: block;
          opacity: 1;
          visibility: visible;
          margin-bottom: 15px;
        }
        .ctaBtns {
          display: block;
        }

        &.hide {
          height: 0;
          padding: 0;

          ul,
          .ctaBtns {
            display: none;
          }
        }
      }
    }
  }
}

// Mobile & Tablet
@media screen and (max-width: 1440px) {
  .c-header {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1200px) {
  .c-banner-header {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .c-header-menu {
    &-item {
      min-height: 80px;
      margin-bottom: 15px;

      &.allBtn {
        min-height: 70px;
      }
    }
  }

  .c-banner-header {
    .c-banner-text {
      justify-content: flex-start;
    }
  }
}
