@use "basics/variables" as *;

/*
* AD Theme
* v1.0.0
*/

// Fonts & Background
html {
  font-family: $font2;
  font-weight: bold;
  font-size: $primary_font_size;
}
body {
  background-color: $main_background;

  &.no-user-select {
    user-select: none !important;
  }
}
// Dark
.my-app-dark body {
  background-color: #1b1b1b;
}
